.header_weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  font-size: 20px;
  font-weight: 700;
  padding: 0 20px;
  gap: 20px;
  color: #ffffff;

}

.header_weather_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  width: 30%;
}

.header_weather_text {
  display: flex;
  align-items: center;

}
