.header_weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 20px;
  font-family: "Montserrat", sans-serif;

  gap: 15px;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}

.header_weather_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;

  font-family: "Montserrat", sans-serif;
}

.header_weather_text {
  display: flex;
}
