.header_weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  font-size: 24px;
  font-weight: 700;
  padding: 0 20px;
  gap: 20px;
  color: #ffffff;

}

.header_weather:hover{
  transition: 0.5s;
  text-shadow: 2px 2px 4px #000000;
}

.header_weather_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  width: 40%;
}

.header_weather_text {
  display: flex;
  align-items: center;

}
