.favoritePage {
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #FC466B, #3F5EFB);
  color: white;
  height: 100vh;
}

.favoriteWrapper {
  display: flex;
  gap: 40px;
}

.favoritePageTitle{
  font-size: 30px;
  font-weight: 700;
  text-shadow:2px 2px 4px #000000;
  animation: pulse 2s infinite;
}

/* @keyframes pulse {
  0% {
      text-shadow:2px 2px 4px #000000;
  }
  50% {
      text-shadow: 0px 10px 43px 21px #FFD700;
  }
  100% {
      text-shadow: 2px 2px 4px #000000;
  }
} */

.favoriteCardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.favoritePageWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px auto;
  background: rgba(255,255,255,0.3);
  backdrop-filter: blur(10px);
  border-left: 1px solid rgba(255,255,255,0.3);
  border-top: 1px solid rgba(255,255,255,0.3);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  /* width: 80%; */
  padding: 30px 40px;
  border-radius: 10px;
}

.favoriteButtons{
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.favoriteSingleButton{
  width: 100%;
  height: 50px;
}