.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.breadcrumbs_item {
  margin-right: 5px;
}
.breadcrumbs a {
  color: #ffffff !important;
}
.breadcrumbs a:visited {
  color: blue !important;
}
.breadcrumbs_item:not(:last-child)::after {
  display: inline-block;
  margin: 0 0.25rem;
  content: "/";
}
