.personalPageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(45deg, #FC466B, #3F5EFB);
  color: white;
}

p{
  margin-bottom: 10px;
}

.personalPageFavorite{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.personalPageName{
  font-size: 30px;
  font-weight: 700;
  text-shadow: 2px 2px 4px #000000;
}

.personalSpecial {
  display: flex;
  align-items: center;
  margin-top: 30px;
  width: 80%;
  padding: 30px 40px;
  border-radius: 10px;
  background: rgba(255,255,255,0.3);
  backdrop-filter: blur(10px);
  border-left: 1px solid rgba(255,255,255,0.3);
  border-top: 1px solid rgba(255,255,255,0.3);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
}

.Name{
  display: flex;
  flex-direction: column;
}

.personalPageDone{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.socialNetworkWrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.snHeader{
  font-size: 20px;
  font-weight: 700;
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 10px;
}

.socialNetworkLogos{
  display: flex;
  gap: 10px;
  align-items: center;

}

.select{
  margin: 0 20px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 0 10px;
  margin-bottom: 10px;
}




.personalPageImage {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid black;
  border-left: 1px solid rgba(255,255,255,0.3);
  border-top: 1px solid rgba(255,255,255,0.3);
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}

.personalSpecial {
  display: flex;
  justify-content: space-between;
  gap: 20px;

}

.teamLead {
  width: 20px;
  height: 20px;
}

.specialWr{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.progressBarWrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0 ;
  width: 80%;
  padding: 30px 40px;
  border-radius: 10px;
  background: rgba(255,255,255,0.3);
  backdrop-filter: blur(10px);
  border-left: 1px solid rgba(255,255,255,0.3);
  border-top: 1px solid rgba(255,255,255,0.3);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
}

.namePlusSelector{
  display: flex;
  justify-content: space-between;
}

.personalPageImageWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.buttonBack{
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 0 10px;
  margin-bottom: 10px;
}

.buttonFavorite{
  display: flex;
  margin: 30px 0 10px 0;
}

.specialWrapper {
  display: flex;
}

.starLogo{
    width: 30px;
    height: 30px;
}


.circleProgressBarWrapper {
  display: flex;
}

.lineProgressBarWrapper {
  display: flex;
  flex-direction: column;
  width: 600px;
}


.personalSpecial {
  display: flex;
}

.teamLead {
  width: 20px;
  height: 20px;
}

.specialWrapper {
  display: flex;
  gap: 10px;
}

.circleProgressBarWrapper {
  display: flex;
}

.lineProgressBarWrapper {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.personalPageImage {
  width: 400px;
  height: 300px;
}

.personalSpecial {
  display: flex;
}

.teamLead {
  width: 20px;
  height: 20px;
}

.specialWrapper {
  display: flex;
  gap: 10px;
}

.swiperWrapper {
  width: 40%;
}