.personalPage {
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
}
.personalPageImage {
  width: 400px;
  height: 300px;
}

.personalSpecial {
  display: flex;
}

.teamLead {
  width: 20px;
  height: 20px;
}

.specialWrapper {
  display: flex;
  gap: 10px;
}
