.personalPageImage {
  width: 400px;
  height: 300px;
}

.personalSpecial {
  display: flex;
}

.teamLead {
  width: 20px;
  height: 20px;
}

.specialWrapper {
  display: flex;
  gap: 10px;
}

.starLogo{
    width: 30px;
    height: 30px;
}
